awpy==1.2.2
peewee==3.15.4
apache-airflow-providers-http
apache-airflow-providers-slack
apache-airflow-providers-slack[http]
dbt-core==1.4.1
dbt-extractor==0.4.1
dbt-postgres==1.4.1
airflow-dbt==0.4.0